<h1>New Blog Post</h1>

<%= form_for @page do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  <br />
  <%= f.label :author %>
  <%= f.text_field :author, required: true %>
  <br />
  <%= f.label :content %>
  <%= f.text_area :content, required: true %>
  <br />
  <%= f.label :public %>
  <%= f.check_box :public %>
  <br />
  <%= f.submit %>
<% end %>

<%= link_to 'All Posts', pages_path, class: 'btn btn-primary' %>
